<!DOCTYPE html>
<html>
    <head>
        <title>myBook - Troca de Livros</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/bulma.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/all.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="container">
            <!-- HEADINGS -->
            <div class="block">
                <nav class="nav">
                    <div class="nav-left">
                        <a href="" class="nav-item">
                            <h1 class="title is-4">myBook</h1>
                        </a>                    
                    </div>
                    <div class="nav-right">
                        <a href="" class="nav-item">Início</a>
                        <a href="" class="nav-item">Cadastro</a>
                        <a href="" class="nav-item">Sobre nós</a>
                        <a href="" class="nav-item">Contato</a>
                    </div>
                </nav>
            </div>
            
            <!--HERO-->
            <div class="block">
                <div class="hero is-secondary">
                    <p>Testando 1... 2... 3...</p>
                </div>
            </div>
        </div>
    </body>
</html>